* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
/*
html {
  font-family: "Lucida Sans", sans-serif;
} */

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
section {
  margin:3px 10px;
 }
div.polaroid {
  <!-- width: 80%; -->
  max-width: 50% ;
  height: auto ;
  background-color: white;
   border-radius: 30px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
div.container {
  text-align: center;
  padding: 5px 5px;
}
#m{
border-radius: 30px;
}
#img1{
   height:200px;
   width:200px;
  
    border-radius: 30px;
}
#img1:hover {
  
  transform: scale(1.05); 
}
@media (max-width:629px) {
  img#m{
    display: none;
  }
}


.btn1 {
  background-color:#4CAF50 ;
  color: white;
  padding: 14px 20px;
 
  border: round;
  float:right;
  cursor: pointer;
  
}
.btn1:hover {
  background-color: #3e8e41;
  color: white;
}
.bo {
  border: 1px solid #4CAF50;
  padding: 10px;
   width:100%;
  
}
p{
	text-indent: 50px;
  text-align: center;
   font-size:120%; 
  letter-spacing: 1px;
  padding:3px;
  
}
/*
<!-- #p1{ -->
	<!-- text-indent: 50px; -->
  <!-- text-align:center; -->
   <!-- font-size:120%;  -->
   <!-- color:#4CAF50; -->
  <!-- letter-spacing: 1px; -->
<!-- } -->*/
.header {
  background-color:#4CAF50;
  color: #ffffff;
  padding: 20px;
  text-align:center;
  margin-left:10px;
  margin-right:10px;
  /* cursor: pointer; */
  border: 3px outset #4CAF50;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
#harry{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#harry td, #harry th {
  border: 1px solid #ddd;
  padding: 8px;
}

#harry tr:nth-child(even){}

#harry tr:hover {background-color: #ddd;}

.hr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0px 10px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  transform: scale(1.3);
}

li a.active {
  color: white;
  background-color:#4CAF50 ;
}
