input[type=text], input[type=password], input[type=number], input[type=date] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.t1{
     
	 margin-top:300px;
	 margin-bottom:40px;
	 text-transform: uppercase; 
	 text-shadow: 1px 1px 2px black, 0 0 25px #FFD700, 0 0 5px #FFD700;
}
@media (max-width:629px) {
   .t1{
    transform: scale(0.6);
  }
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container1 {
  padding: 16px;
  border-radius: 8px;
}
@media (max-width:629px) {
   .container1{
    transform: scale(0.9);
  }
}
@media (max-width:629px) {
   .im{
    height:225px ;
    width:150px ;
  }
}
span.psw {
  float: right;
  padding-top: 16px;
}
	   .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
   /* background-color: #fefefe; */
   background-repeat: no-repeat;
  /*background-attachment: fixed; */
  background-size: 100% 100%;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;  
}
/* for log page */
@media (max-width:629px) {
   .modal-content{
    transform: scale(0.7);
	width: 100%;
  }
}
.modal-content1 {
   background-color: #fefefe;
   background-repeat: no-repeat;
  /*background-attachment: fixed; */
  background-size: 100% 100%;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;  
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.cancelbtn {
     width: 100%;
  }
  .cancelbtn {
  width: auto;
  margin:10px 0px;
  padding: 10px 18px;
  background-color: #f44336;
  border-radius: 3px;
}
#Log{
     background-image:url(https://i.pinimg.com/originals/11/5b/6f/115b6f0126bb5c48cad148336a1d3f0c.jpg);
}
#logbtn
{
 width: auto%;
  padding: 10px 18px;
  background-color:#e8ad00;
  border-radius: 3px;
}
